* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    transition: all 0.2s ease 0s;
}

p {
    line-height: 1.4
}

header {
    p {
        color: white;
        text-decoration: none;
        padding: 1em;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            font-weight: 500;
        }
        &:active {
            transform: scale(0.9);
        }
    }

    img {
        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.9);
        }
    }
}

footer {
    p, h2, a {
        color: #aaaaaa;
        text-decoration: none;
    }

    h2 {
        font-weight: 800;
    }

    p, a {
        font-weight: 300;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 64px;

    & > h1 {
        font-size: 64px;
        width: max-content;
    }
}

.dimmed-text {
    color: #aaa;
    font-weight: normal;
}

.filaments-item {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    border: 1px solid black;
    border-radius: 32px 0;
    padding: 24px;

    &.plus {
        user-select: none;
        font-size: 3em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 4em;

        &:hover {
            background-color: #efefef;
        }

        &:active {
            background-color: #e8e8e8;
        }
    }
}

.filaments-buttons img {
    width: 28px;
    height: auto;

    &:hover {
        transform: scale(1.15);

        &:last-child {
            content: url("./images/delete_red.png");
        }
    }

    &:active {
        transform: scale(0.9);
    }
}

.filament-info td:first-child {
    padding-right: 0.5em;
}

@media print {
    @page {
        margin: 0
    }

    header, footer {
        display: none !important;
    }

    .no-print, .no-print * {
        display: none !important;
    }
}