@import "tailwindcss";

* {
    font-family: sans-serif;
    scroll-behavior: smooth;
    transition: all 0.2s ease 0s;
}

h1 {
    font-size: 4rem;
    @apply font-bold;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

button {
    @apply bg-zinc-200;
}

.main {
    @apply px-20 py-20 min-h-256 gap-16;
}

.icon {
    /*@apply w-10 h-10 p-1.5;*/
    @apply w-9 h-9 p-1;
}

.clickable {
    @apply cursor-pointer hover:scale-115 active:scale-85;
}

.clickable-small {
    @apply cursor-pointer hover:scale-105 active:scale-95;
}

div.custom-border {
    @apply shadow-lg;
}

.custom-border {
    @apply rounded-tl-4xl rounded-br-4xl;

    img {
        border-radius: inherit;
    }
}

.info-table {
    td:first-child {
        @apply pr-3;
    }
}

.filament .info-table {
    tr:nth-child(even) {
        @apply bg-zinc-200;
    }

    td {
        @apply px-4 py-4
    }
}

.add-filament {
    tr:nth-child(even) {
        @apply bg-zinc-200;
    }

    td {
        @apply pl-4;
    }

    td:has(input) {
        @apply flex items-center gap-2 p-2;

        button {
            @apply w-10 h-10;
        }
    }

    input {
        @apply w-full p-1 outline-none
    }

    input:not([type="color"]) {
        @apply border border-zinc-500;
    }
}


/*p {*/
/*    line-height: 1.4;*/
/*    display: inline-block;*/
/*}*/

/*header {*/
/*    p {*/
/*        color: white;*/
/*        text-decoration: none;*/
/*        padding: 1em;*/
/*        cursor: pointer;*/

/*        &:hover {*/
/*            transform: scale(1.1);*/
/*            font-weight: 500;*/
/*        }*/

/*        &:active {*/
/*            transform: scale(0.9);*/
/*        }*/
/*    }*/

/*    img {*/
/*        &:hover {*/
/*            transform: scale(1.1);*/
/*        }*/

/*        &:active {*/
/*            transform: scale(0.9);*/
/*        }*/
/*    }*/
/*}*/

/*footer {*/
/*    p, h2, a {*/
/*        color: #aaaaaa;*/
/*        text-decoration: none;*/
/*    }*/

/*    h2 {*/
/*        font-weight: 800;*/
/*    }*/

/*    p, a {*/
/*        font-weight: 300;*/
/*    }*/
/*}*/

/*.main {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    gap: 48px;*/
/*    padding: 64px;*/

/*    & > h1 {*/
/*        font-size: 64px;*/
/*        width: max-content;*/
/*    }*/
/*}*/

/*.dimmed-text {*/
/*    color: #aaa;*/
/*    font-weight: normal;*/
/*}*/

/*.custom-border {*/
/*    border-radius: 32px 0;*/
/*}*/

/*.filament-info td:first-child {*/
/*    padding-right: 0.5em;*/
/*}*/

/*        tfoot {*/
/*            cursor: pointer;*/

/*            &:hover p {*/
/*                color: #da0000;*/
/*            }*/

/*            img {*/
/*                filter: saturate(0);*/
/*            }*/

/*            &:hover img {*/
/*                filter: saturate(1);*/
/*            }*/
/*        }*/

/*    }*/
/*}*/

/*.add-filament {*/
/*    td:has(input) {*/
/*        display: flex;*/
/*        gap: 8px;*/

/*        button {*/
/*            width: 3em;*/
/*        }*/
/*    }*/

/*    input {*/
/*        width: 100%;*/
/*        padding: 4px;*/
/*        outline: none;*/
/*    }*/

/*}*/


/*@media print {*/
/*    @page {*/
/*        margin: 0*/
/*    }*/

/*    header, footer {*/
/*        display: none !important;*/
/*    }*/

/*    .no-print, .no-print * {*/
/*        display: none !important;*/
/*    }*/
/*}*/